In [491]:
# add the pandas dependency
import pandas as pd
import os 
import numpy as np

In [492]:
# add the data as variables 
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [493]:
# read the school data 
school_data_df = pd.read_csv(school_data_to_load)

In [494]:
# read the student data
student_data_df = pd.read_csv(student_data_to_load)

In [495]:
# Determine if there are missing values
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [496]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [497]:
school_data_df.notnull().sum()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [498]:
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [499]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [500]:
school_data_df["School ID"].dtype

dtype('int64')

In [501]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [502]:
# create variable to list all possible prefixes and suffixes
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [503]:
# Clean the data using the tested code from cleaning_student_names
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [504]:
# Replace all 9th grade reading scores with NaN.
student_data_df.loc[student_data_df.grade == "9th", "reading_score"] = np.nan 
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,NaN,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,NaN,84

In [505]:
# Replace all 9th grade math scores with NaN.
student_data_df.loc[student_data_df.grade == "9th", "math_score"] = np.nan
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,NaN,NaN
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,NaN,NaN

In [506]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,NaN,NaN,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,NaN,NaN,0,District,2917,1910635

In [507]:
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [508]:
school_count = len(school_data_complete_df["school_name"].unique())
school_count

15

In [509]:
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [510]:
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.86283408976298

In [511]:
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

79.00579929399899

In [512]:
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]
passing_math_count = passing_math["student_name"].count()

In [513]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >=70]
passing_reading_count = passing_reading["student_name"].count()

In [514]:
print(passing_reading_count)
print(passing_math_count)

23804
20815

In [515]:
passing_math_percentage = passing_math_count / float(student_count) *100

In [516]:
passing_reading_percentage = passing_reading_count / float(student_count) *100

In [517]:
print(passing_math_percentage)
print(passing_reading_percentage)

53.14015828440133
60.770998212918045

In [518]:
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading_count = passing_math_reading["student_name"].count()
passing_math_reading_count

18074

In [519]:
overall_passing_percentage = passing_math_reading_count / float(student_count) *100
overall_passing_percentage

46.14245596119479

In [520]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79.005799,81.862834,53.140158,60.770998,46.142456

In [521]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [522]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [523]:
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

In [524]:
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

In [525]:
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

In [526]:
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

In [527]:
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [528]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,53,61,46

In [529]:
per_school_type = school_data_df.set_index(["school_name"])["type"]
per_school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [530]:
df = pd.DataFrame(per_school_type)

In [531]:
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [532]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [533]:
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.033826
Cabrera High School      83.048872
Figueroa High School     76.838032
Ford High School         76.989507
Griffin High School      83.856468
Hernandez High School    77.226560
Holden High School       83.810000
Huang High School        76.467438
Johnson High School      77.024398
Pena High School         83.925764
Rodriguez High School    76.835626
Shelton High School      83.333063
Thomas High School       83.350937
Wilson High School       83.346247
Wright High School       83.847287
Name: math_score, dtype: float64

In [534]:
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       80.922399
Cabrera High School      84.094737
Figueroa High School     81.141424
Ford High School         80.795908
Griffin High School      83.989613
Hernandez High School    80.963111
Holden High School       83.873333
Huang High School        81.138929
Johnson High School      80.843796
Pena High School         84.139738
Rodriguez High School    80.642681
Shelton High School      83.554833
Thomas High School       83.896082
Wilson High School       84.008475
Wright High School       84.003101
Name: reading_score, dtype: float64

In [535]:
per_school_passing_math = passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

school_name
Bailey High School       2339
Cabrera High School      1246
Figueroa High School     1397
Ford High School         1297
Griffin High School       993
Hernandez High School    2172
Holden High School        279
Huang High School        1341
Johnson High School      2210
Pena High School          654
Rodriguez High School    1881
Shelton High School      1158
Thomas High School       1094
Wilson High School       1554
Wright High School       1200
Name: student_name, dtype: int64

In [536]:
per_school_passing_reading = passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

school_name
Bailey High School       2879
Cabrera High School      1292
Figueroa High School     1683
Ford High School         1509
Griffin High School      1033
Hernandez High School    2627
Holden High School        291
Huang High School        1686
Johnson High School      2721
Pena High School          653
Rodriguez High School    2273
Shelton High School      1175
Thomas High School       1139
Wilson High School       1593
Wright High School       1250
Name: student_name, dtype: int64

In [537]:
per_school_passing_math_average = per_school_passing_math / per_school_counts *100
per_school_passing_math_average

Bailey High School       47.005627
Cabrera High School      67.061356
Figueroa High School     47.371991
Ford High School         47.353049
Griffin High School      67.643052
Hernandez High School    46.860841
Holden High School       65.339578
Huang High School        45.971889
Johnson High School      46.418820
Pena High School         67.983368
Rodriguez High School    47.036759
Shelton High School      65.758092
Thomas High School       66.911315
Wilson High School       68.068331
Wright High School       66.666667
dtype: float64

In [538]:
per_school_passing_reading_average = per_school_passing_reading / per_school_counts *100
per_school_passing_reading_average

Bailey High School       57.857717
Cabrera High School      69.537137
Figueroa High School     57.070193
Ford High School         55.093100
Griffin High School      70.367847
Hernandez High School    56.677454
Holden High School       68.149883
Huang High School        57.799109
Johnson High School      57.151859
Pena High School         67.879418
Rodriguez High School    56.839210
Shelton High School      66.723453
Thomas High School       69.663609
Wilson High School       69.776610
Wright High School       69.444444
dtype: float64

In [539]:
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
6,6,Sheena Carter,F,11th,Huang High School,82.0,80.0,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95.0,87.0,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96.0,84.0,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90.0,70.0,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78.0,77.0,0,District,2917,1910635

In [540]:
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

school_name
Bailey High School       1916
Cabrera High School      1210
Figueroa High School     1116
Ford High School         1021
Griffin High School       967
Hernandez High School    1737
Holden High School        271
Huang High School        1102
Johnson High School      1787
Pena High School          620
Rodriguez High School    1495
Shelton High School      1104
Thomas High School       1064
Wilson High School       1499
Wright High School       1165
Name: student_name, dtype: int64

In [541]:
per_overall_pass_percentage = per_passing_math_reading / per_school_counts *100
per_overall_pass_percentage

Bailey High School       38.504823
Cabrera High School      65.123789
Figueroa High School     37.843337
Ford High School         37.276378
Griffin High School      65.871935
Hernandez High School    37.475728
Holden High School       63.466042
Huang High School        37.778540
Johnson High School      37.534131
Pena High School         64.449064
Rodriguez High School    37.384346
Shelton High School      62.691652
Thomas High School       65.076453
Wilson High School       65.659220
Wright High School       64.722222
dtype: float64

In [542]:
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_type,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_pass_percentage})
per_school_summary_df.head(1)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.033826,80.922399,2339,2879,38.504823

In [543]:
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.033826,80.922399,2339,2879,38.504823
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.048872,84.094737,1246,1292,65.123789
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.838032,81.141424,1397,1683,37.843337
Ford High School,District,2739,"$1,763,916.00",$644.00,76.989507,80.795908,1297,1509,37.276378
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.856468,83.989613,993,1033,65.871935
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.226560,80.963111,2172,2627,37.475728
Holden High School,Charter,427,"$248,087.00",$581.00,83.810000,83.873333,279,291,63.466042
Huang High School,District,2917,"$1,910,635.00",$655.00,76.467438,81.138929,1341,1686,37.778540
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.024398,80.843796,2210,2721,37.534131
Pena High School,Charter,962,"$585,858.00",$609.00,83.925764,84.139738,654,653,64.449064
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.835626,80.642681,1881,2273,37.384346
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.333063,83.554833,1158,1175,62.691652
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,1094,1139,65.076453
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.346247,84.008475,1554,1593,65.659220
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.847287,84.003101,1200,1250,64.722222

In [544]:
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.856468,83.989613,993,1033,65.871935
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.346247,84.008475,1554,1593,65.659220
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.048872,84.094737,1246,1292,65.123789
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,1094,1139,65.076453
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.847287,84.003101,1200,1250,64.722222

In [545]:
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Ford High School,District,2739,"$1,763,916.00",$644.00,76.989507,80.795908,1297,1509,37.276378
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.835626,80.642681,1881,2273,37.384346
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.226560,80.963111,2172,2627,37.475728
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.024398,80.843796,2210,2721,37.534131
Huang High School,District,2917,"$1,910,635.00",$655.00,76.467438,81.138929,1341,1686,37.778540

In [546]:
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [547]:
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [548]:
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [549]:
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

In [550]:
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:,.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:,.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:,.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:,.1f}".format)
math_scores_by_grade.index.name = None
math_scores_by_grade.head()

                      9th  10th  11th  12th
Bailey High School    nan  77.0  77.5  76.5
Cabrera High School   nan  83.2  82.8  83.3
Figueroa High School  nan  76.5  76.9  77.2
Ford High School      nan  77.7  76.9  76.2
Griffin High School   nan  84.2  83.8  83.4

In [551]:
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

In [552]:
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)
reading_scores_by_grade.index.name = None
reading_scores_by_grade.head()

                      9th  10th  11th  12th
Bailey High School    nan  80.9  80.9  80.9
Cabrera High School   nan  84.3  83.8  84.3
Figueroa High School  nan  81.4  80.6  81.4
Ford High School      nan  81.3  80.4  80.7
Griffin High School   nan  83.7  84.3  84.0

In [553]:
per_school_capita.describe()

count     15.000000
mean     620.066667
std       28.544368
min      578.000000
25%      591.500000
50%      628.000000
75%      641.500000
max      655.000000
dtype: float64

In [554]:
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [555]:
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

In [556]:
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.033826,80.922399,2339,2879,38.504823,$585-629
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.048872,84.094737,1246,1292,65.123789,<$584
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.838032,81.141424,1397,1683,37.843337,$630-644
Ford High School,District,2739,"$1,763,916.00",$644.00,76.989507,80.795908,1297,1509,37.276378,$630-644
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.856468,83.989613,993,1033,65.871935,$585-629
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.226560,80.963111,2172,2627,37.475728,$645-675
Holden High School,Charter,427,"$248,087.00",$581.00,83.810000,83.873333,279,291,63.466042,<$584
Huang High School,District,2917,"$1,910,635.00",$655.00,76.467438,81.138929,1341,1686,37.778540,$645-675
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.024398,80.843796,2210,2721,37.534131,$645-675
Pena High School,Charter,962,"$585,858.00",$609.00,83.925764,84.139738,654,653,64.449064,$585-629
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.835626,80.642681,1881,2273,37.384346,$630-644
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.333063,83.554833,1158,1175,62.691652,$585-629
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.350937,83.896082,1094,1139,65.076453,$630-644
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.346247,84.008475,1554,1593,65.659220,<$584
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.847287,84.003101,1200,1250,64.722222,<$584

In [557]:
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

Spending Ranges (Per Student)
<$584       64.742818
$585-629    57.879369
$630-644    44.395128
$645-675    37.596133
Name: % Overall Passing, dtype: float64

In [558]:
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.5,84.0,1070,1106,65
$585-629,82.0,83.2,1286,1435,58
$630-644,78.5,81.6,1417,1651,44
$645-675,76.9,81.0,1908,2345,38

In [559]:
per_school_counts.describe()

count      15.000000
mean     2611.333333
std      1420.915282
min       427.000000
25%      1698.000000
50%      2283.000000
75%      3474.000000
max      4976.000000
Name: school_name, dtype: float64

In [560]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [561]:
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)

In [562]:
size_math_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary_df.groupby(["School Size"]).mean()["% Overall Passing"]

In [563]:
size_summary_df = pd.DataFrame({
          "Average Math Score" : size_math_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Math": size_passing_math,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": size_overall_passing})
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].map("{:.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].map("{:.1f}".format)
size_summary_df["% Passing Math"] = size_summary_df["% Passing Math"].map("{:.0f}".format)
size_summary_df["% Passing Reading"] = size_summary_df["% Passing Reading"].map("{:.0f}".format)
size_summary_df["% Overall Passing"] = size_summary_df["% Overall Passing"].map("{:.0f}".format)
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.9,84.0,466,472,64
Medium (1000-2000),83.5,83.9,1138,1178,65
Large (2000-5000),77.7,81.3,1774,2121,41

In [564]:
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [565]:
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.6,83.9,1022,1053,65
District,76.9,80.9,1805,2197,38